site_name: fotacos
repo_url: https://github.com/MonsignorEduardo/fotacos
site_url: https://MonsignorEduardo.github.io/fotacos
site_description: Es un app para la rasbery de fotos
site_author: monsignor
edit_uri: edit/main/docs/
repo_name: MonsignorEduardo/fotacos
copyright: Maintained by <a href="https://MonsignorEduardo.com">MonsignorEduardo</a>.

nav:
  - Home: index.md
  - Modules: modules.md
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: ["src/fotacos"]
theme:
  name: material
  feature:
    tabs: true
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/MonsignorEduardo/fotacos
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/fotacos

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
